.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading span{
  display: block;
  white-space: nowrap;
  width: 10ch;
  color: white;
  font-size: 2em;
  

  animation: typing 2s infinite steps(10);
  overflow: hidden;
}

@keyframes typing{
  from {width: 0}
}

